* {
    font-family: Helvetica;
    background-color: #1E2127;
}

link {
    color: #98C379;
}

h1 {
    color: #D19A66;
}

h2 {
    color: #61AFEF;
}

h3 {
    color: #61AFEF;
}

li {
    color: #ABB2BF;
}

p {
    color: #ABB2BF;
}



